<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyDataLayer.Properties.Settings.Con" connectionString="Data Source=AL_C0028\SQLEXPRESS;Initial Catalog=Foo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>