@using AnotherBitchAboutNHibernate.Models
@using MyDataLayer
@model MyModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>

<p>
Hello mom  @Html.TextBoxFor(m => m.Description1)
Hello mom  @Html.TextBoxFor(m => m.Description2)
</p>