@using AnotherBitchAboutNHibernate.Models
@using MyDataLayer
@model MyModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>

<p>
    From enitity1  @Html.TextBoxFor(m => m.Description1)
    From enitity2  @Html.TextBoxFor(m => m.Description2)
    @Html.ActionLink("Next","Next","Home" )
</p>

